/* font size scale: 16px, 21px, 38px, 50px, 67px 
color scheme:
  #0B0C10 very dark navy blue
  #1F2833 medium navy blue
  #C5C6C7 medium grey
  #ededed light grey
  #66FCF1 turquoise
  #45A29E teal
*/


* {
  box-sizing: border-box
}

body, html {
  height: 100%;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
}

section {
  border-radius: 3px 3px 0px 0px;
  height: auto;
}

figure {
  height: 400px;
  width: 400px;
}

h1 {
  font-family: 'Fira Sans', serif;
  font-weight: 500;
  vertical-align: middle;
  font-style: italic;
}

h1 img {
  height: 50px;
  padding-right: 3px;
}

.h1--span {
  font-weight: 100;
  font-style: italic;
}

li, td {
  font-family: 'Fira Sans', serif;
  font-weight: 500;
}

h2, h3, h4, h5, h6, th, p {
  font-family: 'Merriweather', serif; 
  font-weight: 400;
  color: #0B0C10
}

h1 {
  font-size: 67px;
  padding: 0px 0px 0px 20px;
  margin: 0px;
  color: #45A29E;
}

h2 {
  font-size: 21px;
  padding: 30px 20px 30px 20px;
  margin-top: 0px;
  margin-bottom: 10px;
  border-top: 2px solid #ededed;
 /* text-align: right; */
}

h3 {
  visibility: hidden;
}

li img {
  height: 47px;
  margin-right: 5px;
}

li p {
  display: inline-block;
  font-size: 21px;
  padding: none;
  margin: auto;
}

td, th {
  font-size: 21px;
}

ul.tabs {
  margin: 0px;
  padding: 0px 20px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

ul.tabs li {
  margin: 0px 3px;
  background: #C5C6C7;
  border-radius: 3px 3px 0px 0px;
  color: #1F2833;
  /* display: inline-block; */
  padding: 10px 20px;
  cursor: pointer;
  width: 25%;
}

ul.tabs li.current {
  background: #ededed;
  color: #0B0C10;
  text-decoration: underline #0B0C10;
}

.tabs li:hover {
  background-color:#45A29E;
}

.tab-content {
  display: none;
  background: #ededed;
  padding: 15px;
}

.tab-content.current {
  display: inherit;
}

.tab--logo {
  height: 16px;
  padding-right: 3px;
}

#chart--stepgoal-bar {
  /* height: 400px; */
  /* width: 200px; */
}

footer {
  height: 100px;
  margin-top: 20px;
  border-top: 10px solid #66FCF1;
  background-color: #45A29E;
}

h6 {
  font-family: 'Fira Sans', serif;
  color: white;
  text-align: center;
  font-weight: 300;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 800px) {

h1 {
  text-align: center;
  font-size: 67px;
  padding: 0px 0px 0px 0px;
}

h3 {
  visibility: visible;
}

.tab--logo {
  height: 50px;
  margin: auto;
}

li img {
  display: block;
}

li p {
  display: none;
}

section {
  flex-direction: column;
}
}

@media only screen and (max-width: 425px) {
  body {
    background-color: lightblue;
  }

  section {
    flex-direction: column;
  }

}